$gradient-variant-1: linear-gradient(
  to bottom,
  #011a1e,
  #22424c,
  #00818f,
  #49a1aa
);

.vestige {
  height: 100dvh;
  width: 100vw;
  background: $gradient-variant-1;
  position: relative;

  .go_back {
    position: absolute;
    top: 33px;
    left: 47px;
    display: flex;
    align-items: center;
    gap: 7px;
    cursor: pointer;
    z-index: 999;

    .go_back_text {
      font-size: 16px;
      text-decoration: none;
    }
  }

  .svg_drag {
    position: absolute;
    left: 50%;
    bottom: 30%;
    transform: translateX(-50%);
  }

  .naration_text_content {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100vw - 64px);
    z-index: 999;

    .naration_text {
      .lines {
        display: flex;
        flex-direction: column;
      }

      .line {
        position: absolute;
        right: 0px;
        top: 30px;
        font-size: 20px;
        color: rgb(255, 255, 255);
        opacity: 0.6;
        width: 60%;
        top: 13px;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        text-align: center;

        &.active {
          transition: opacity 0.3s ease-in-out;
          opacity: 1;
        }
      }
    }

    .naration_orb {
      width: 140px;
      height: 140px;
      canvas {
        width: 140px;
        height: 140px;
      }
    }
  }
}

.model_canvas {
  position: absolute;
  z-index: 99;
}
