.loader {
  position: fixed;
  inset: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  color: white;
  font-size: 2rem;
  pointer-events: none; // évite blocage de clics
}
