.skin {
  .skin_container {
    position: absolute;
    top: 40%;
    right: 17px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

    .skin_btn {
      border-radius: 27px;
      padding: 7.5px 21.5px;
      background-color: #18262876;
      z-index: 99;
      cursor: pointer;
      color: #8cd1d7;
      font-size: 14px;
      backdrop-filter: blur(34.2px);
      border: solid 0.5px #8cd1d7a6;
    }

    .active {
      border-radius: 27px;
      padding: 7.5px 21.5px;
      background-color: #d9eb2a;
      z-index: 99;
      cursor: pointer;
      color: #0c2d36;
      font-size: 14px;
    }
  }
}
