.modal {
  height: 100%;
  width: 100%;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  backdrop-filter: blur(40px);
  transition: opacity 0.5s ease-in-out;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;

  .modal_content {
    width: calc(289px - 50px);
    height: calc(345px - 72px);
    padding: 26px 25px 46px 25px;
    border-radius: 30px;
    background: linear-gradient(-22deg, #082123, #061417a4);
    opacity: 80%;
    position: relative;

    .icon {
      display: flex;
      justify-content: space-between;
      position: relative;
      opacity: 0.7;
      scale: 1.3;

      .svg_scan {
        padding: 10px;
        border-radius: 13px;
        background-color: #182628;
      }

      .svg_dino {
        position: absolute;
        right: -25px;
      }
    }

    .cross {
      position: absolute;
      top: 30px;
      right: 30px;
      background-color: rgba(0, 0, 0, 0.42);
      border-radius: 50%;
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px;
    }

    .artwork_content {
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      gap: 30px;

      .artwork_name {
        font-size: 20px;
      }

      .artwork_description {
        font-size: 14px;
        margin-top: 0px;
        opacity: 0.82;
      }

      .hypertext {
        font-size: 10px;
        opacity: 0.4;
      }
    }
  }
}
