$gradient-variant-1: linear-gradient(
  to bottom,
  #011a1e,
  #22424c,
  #00818f,
  #49a1aa
);

.vestige {
  height: 100dvh;
  width: 100vw;
  background: $gradient-variant-1;
  position: relative;

  .go_back {
    position: absolute;
    top: 33px;
    left: 47px;
    display: flex;
    align-items: center;
    gap: 7px;
    cursor: pointer;
    z-index: 999;

    .go_back_text {
      font-size: 16px;
      text-decoration: none;
    }
  }

  .svg_drag {
    position: absolute;
    left: 50%;
    bottom: 30%;
    transform: translateX(-50%);
  }
  .skin {
    position: absolute;
    top: 40%;
    left: 65%;
    z-index: 999999;
    .skin_container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;

      .skin_btn {
        border-radius: 27px;
        padding: 7.5px 21.5px;
        background-color: #18262876;
        z-index: 99;
        cursor: pointer;
        color: #8cd1d7;
        font-size: 14px;
        backdrop-filter: blur(34.2px);
        border: solid 0.5px #8cd1d7a6;
        text-align: center;
      }
    }
  }

  .naration_orb {
    position: absolute;
    top: 6vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;

    width: 140px;
    height: 140px;
    canvas {
      width: 140px;
      height: 140px;
    }
  }
  .naration_text_content {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100vw - 64px);
    z-index: 999;

    .naration_text {
      .lines {
        display: flex;
        flex-direction: column;
      }

      .line {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        font-size: 20px;
        color: rgb(255, 255, 255);
        opacity: 0.6;
        width: 80%;
        top: -80px;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        text-align: center;

        &.active {
          transition: opacity 0.3s ease-in-out;
          opacity: 1;
        }
      }
    }
  }
}

.model_canvas {
  position: absolute;
  z-index: 99;
}
