* {
  margin: 0;
  padding: 0;
  border: 0;
  overscroll-behavior: none;
  color: rgb(252, 252, 252);
}

body {
  background: linear-gradient(180deg, #182628 5%, #54888e 100%);
  height: 100vh;
  overflow: hidden;
}

canvas {
  top: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  z-index: -1;
}

.inside {
  max-width: calc(100vw - 3rem);
  width: 100%;
  margin: 0 auto;
}
