* {
  margin: 0;
  padding: 0;
  border: 0;
  overscroll-behavior: none;
  color: rgb(252, 252, 252);
}

$gradient-variant-1: linear-gradient(
  to bottom,
  #011a1e,
  #22424c,
  #00818f,
  #49a1aa
);
$gradient-variant-2: linear-gradient(
  to bottom,
  #011a1e,
  #22424c,
  #00818f,
  #b9d7d7
);
$gradient-variant-3: linear-gradient(135deg, #e0c3fc, #8ec5fc);

body {
  background: $gradient-variant-1;
  height: 100vh;
  overflow: hidden;
}

canvas {
  top: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  z-index: -1;
}

.inside {
  max-width: calc(100vw - 3rem);
  width: 100%;
  margin: 0 auto;
}
