* {
  margin: 0;
  padding: 0;
  border: 0;
  overscroll-behavior: none;
  color: rgb(252, 252, 252);
}

$gradient-variant-1: linear-gradient(
  to bottom,
  #011a1e,
  #22424c,
  #00818f,
  #49a1aa
);
$gradient-variant-2: linear-gradient(
  to bottom,
  #011a1e,
  #22424c,
  #00818f,
  #b9d7d7
);
$gradient-variant-3: linear-gradient(135deg, #e0c3fc, #8ec5fc);

@keyframes gradientShift {
  0% {
    background-position: 0% 90%;
  }
  100% {
    background-position: 0% 80%;
  }
}

@font-face {
  font-family: "NHassGrotesk";
  src: url("/fonts/NHaasGrotesk_Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NHassGrotesk";
  src: url("/fonts/NHaasGrotesk_Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  font-family: "NHassGrotesk";
}

body {
  background: $gradient-variant-2;
  background-size: 100% 120%;
  background-position: 0% 30%;
  animation: gradientShift 2.1s ease-in-out infinite alternate;
  height: 100dvh;
  overflow: hidden;
}

canvas {
  top: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  z-index: -1;
}

.inside {
  max-width: calc(100vw - 3rem);
  width: 100%;
  margin: 0 auto;
}
