.home {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .narration {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    .narration_text {
      text-align: center;
    }

    .orb {
      width: 200px;
      height: 200px;
      background-color: transparent;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 280px;
    }
  }

  .cta {
    -webkit-box-shadow: 0px 0px 14px 0px #7dd9ee37;
    box-shadow: 0px 0px 14px 0px #7dd9ee37;
    position: absolute;
    bottom: 164px;
    width: 164px;
    background: #18262842;
    border-radius: 27px;
    display: flex;
    align-items: center;
    text-decoration: none;

    .cta_content {
      height: calc(42px - 18px);
      padding: 9px 17px 9px 7px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      .cta_text {
        color: #8cd1d7;
        font-size: 20px;
      }

      .cta_icon {
        width: 33px;
        height: 33px;
        border-radius: 50%;
        background: #011a1e39;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
