.home {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .narration {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    .narration_text {
      text-align: center;
    }

    .orb {
      width: 200px;
      height: 200px;
      background-color: transparent;
      position: relative;

      .webgl_orb {
        width: 200px;
        height: 200px;
        position: absolute;
        background-color: transparent;
      }
    }
  }

  .cta {
    position: absolute;
    bottom: 164px;
    width: 183px;
    background: #18262842;
    border-radius: 27px;
    display: flex;
    align-items: center;
    text-decoration: none;

    .cta_content {
      height: calc(42px - 18px);
      padding: 9px 17px 9px 7px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      .cta_text {
        color: #8cd1d7;
        font-size: 20px;
      }

      .cta_icon {
        width: 33px;
        height: 33px;
        border-radius: 50%;
        background: #011a1e39;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
